<div _ngcontent-skr-c13="" class="stats-wrapper">

    <div
            _ngcontent-skr-c13=""
            class="withLink ng-tns-c14-1 app-stats-container"
            routerlink="/pool/list"
            _nghost-skr-c14=""
            tabindex="0"
    >
        <div _ngcontent-skr-c14=""
             class="container blue ng-trigger ng-trigger-slideInLeftOnEnter"
        >

            <div _ngcontent-skr-c14="" class="container-overlay"></div>

            <i _ngcontent-skr-c13="" class="icon-pool-icon"></i>

            <div _ngcontent-skr-c13="" class="stat-number" data-test="totalPoolCount">1
            </div>

            <div _ngcontent-skr-c13="" class="stat-unit">
                <a _ngcontent-skr-c13=""
                   routerlink="/pool/list"
                   href="/pool/list"
                >
                    Pools
                </a>
            </div>
        </div>

    </div>

    <div _ngcontent-skr-c13="" class="withChart withLink ng-tns-c14-2 app-stats-container"
         routerlink="/sds/list" _nghost-skr-c14="" tabindex="0">
        <div _ngcontent-skr-c14=""
             class="container purple ng-trigger ng-trigger-slideInLeftOnEnter">
            <div _ngcontent-skr-c14="" class="container-overlay"></div>
            <div _ngcontent-skr-c13="" class="chart-container">
                <div _ngcontent-skr-c13="">
                    <div class="ng-tns-c19-6">
                        <div class="ngx-charts-outer ng-trigger ng-trigger-animationState"
                             style="width: 235px;">
                            <svg class="ngx-charts" width="235" height="200">
                                <g class="pie-chart chart"
                                   transform="translate(117.5, 100)">
                                    <g ngx-charts-pie-series=""><!---->
                                        <g class="ng-star-inserted" style=""><!---->
                                            <g ngx-charts-pie-arc="" ngx-tooltip="">
                                                <g class="arc-group"><!---->
                                                    <path class="arc" fill="#6121aa"
                                                          style="pointer-events: auto;"
                                                          d="M4.898587196589413e-15,-80L2.9391523179536475e-15,-48Z"></path>
                                                </g>
                                            </g>
                                        </g>
                                        <g class="ng-star-inserted" style=""><!---->
                                            <g ngx-charts-pie-arc="" ngx-tooltip="">
                                                <g class="arc-group"><!---->
                                                    <path class="arc" fill="#0b486b"
                                                          style="pointer-events: auto;"
                                                          d="M4.898587196589413e-15,-80L2.9391523179536475e-15,-48Z"></path>
                                                </g>
                                            </g>
                                        </g>

                                    </g>
                                </g>
                            </svg>

                            <div
                                    class="chart-legend ng-tns-c19-6 ng-star-inserted"
                                    style=""
                            >
                                <div style="width: 235px;">

                                    <div class="legend-wrap">
                                        <ul class="legend-labels horizontal-legend"
                                            style="max-height: 155px;"><!---->
                                            <li class="legend-label ng-star-inserted">
                                                <div><span tabindex="-1"
                                                           title="On"><span
                                                        class="legend-label-color"
                                                        style="background-color: rgb(97, 33, 170);"></span><span
                                                        class="legend-label-text"> On </span></span>
                                                </div>
                                            </li>
                                            <li class="legend-label ng-star-inserted">
                                                <div><span tabindex="-1"
                                                           title="Off"
                                                           class=""><span
                                                        class="legend-label-color"
                                                        style="background-color: rgb(11, 72, 107);"></span><span
                                                        class="legend-label-text"> Off </span></span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div _ngcontent-skr-c13="" class="stat-number" data-test="totalSdsCount">0</div>
            <div _ngcontent-skr-c13="" class="stat-unit">
                <a _ngcontent-skr-c13=""
                   routerlink="/sds/list"
                   href="/sds/list"
                >
                    SDServers
                </a>
            </div>

        </div>

    </div>
    <div _ngcontent-skr-c13="" class="withLink ng-tns-c14-3 app-stats-container"
         routerlink="/node/list" _nghost-skr-c14="" tabindex="0">
        <div _ngcontent-skr-c14=""
             class="container green ng-trigger ng-trigger-slideInLeftOnEnter">
            <div _ngcontent-skr-c14="" class="container-overlay"></div>
            <i _ngcontent-skr-c13="" class="icon-node-icon"></i>
            <div _ngcontent-skr-c13="" class="stat-number" data-test="totalNodeCount">0
            </div>
            <div _ngcontent-skr-c13="" class="stat-unit"><a _ngcontent-skr-c13=""
                                                            routerlink="/node/list"
                                                            href="/node/list">Nodes</a>
            </div>
        </div>
    </div>
    <div _ngcontent-skr-c13="" _nghost-skr-c14="" class="ng-tns-c14-4 app-stats-container">
        <div _ngcontent-skr-c14=""
             class="container green ng-trigger ng-trigger-slideInLeftOnEnter">
            <div _ngcontent-skr-c14="" class="container-overlay"></div>
            <i _ngcontent-skr-c13="" class="icon-node-icon unassigned-dot"></i>
            <div _ngcontent-skr-c13="" class="stat-number"
                 data-test="totalUnassignedNodeCount">0
            </div>
            <div _ngcontent-skr-c13="" class="stat-unit">Nodes <span _ngcontent-skr-c13="">unassigned</span>
            </div>
        </div>
    </div><!----></div>
