<!-- main app container -->
<div class="fullWrap">
    <div class="pageWrap">



        <main class="content noHeader">
            <div class="app-content-container">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </main>

        <!-- credits -->
        <div class="footer">
            <div class="footerContainer">
                <p>
                    © AttikaMove™ 2021
                </p>
            </div>
        </div>
    </div>
</div>
