<!-- main app container -->
<div class="fullWrap">
    <div class="pageWrap">



        <main class="content noHeader">
            <div class="app-content-container">
                <alert></alert>


                <div _ngcontent-skr-c0="" class="fullWrap">
                    <div _ngcontent-skr-c0="" class="pageWrap">

                        <div _ngcontent-skr-c0="" class="header ng-star-inserted" _nghost-skr-c2="">
                            <div _ngcontent-skr-c2="" class="mat-toolbar mat-primary mat-toolbar-multiple-rows"
                                 color="primary">
                                <div _ngcontent-skr-c2="" class="toolbar-overlay"></div>
                                <div _ngcontent-skr-c2="" class="mat-toolbar-row">
                                    <div _ngcontent-skr-c2="" class="header-title-container">
                                        <a _ngcontent-skr-c2=""
                                           data-test="headerAttikaMoveLogo"
                                           routerlink="/home"
                                           href="/">
                                            LogoHome
                                        </a>
                                        <p _ngcontent-skr-c2="">SkyRunner <span _ngcontent-skr-c2="">45.80.47.150</span></p></div>
                                    <div _ngcontent-skr-c2="" class="header-actions-container">
                                        <div _ngcontent-skr-c2="" class="actions-overlay-one"></div>
                                        <div _ngcontent-skr-c2="" class="actions-overlay-two"></div>
                                        <div _ngcontent-skr-c2="" class="navigation-items">
                                            <div _ngcontent-skr-c2=""><a _ngcontent-skr-c2="" data-test="headerDashboardLink"
                                                                         routerlink="/home" routerlinkactive="active"
                                                                         href="/home" class="active"><i
                                                    _ngcontent-skr-c2="" class="icon-home-icon"></i> Dashboard</a></div>
                                            <div _ngcontent-skr-c2=""><!----><a _ngcontent-skr-c2="" data-test="headerAlertsLink"
                                                                                routerlink="/alerts" routerlinkactive="active"
                                                                                href="/alerts"
                                                                                class="ng-star-inserted"><i _ngcontent-skr-c2=""
                                                                                                            class="icon-alerts-icon mat-badge mat-badge-overlap mat-badge-above mat-badge-after mat-badge-medium"
                                                                                                            data-test-headerunreadalertcount="1"><span
                                                    _ngcontent-skr-c2="" id="mat-badge-content-0"
                                                    class="mat-badge-content mat-badge-active">1</span></i> Alerts </a><!----></div>
                                            <div _ngcontent-skr-c2=""><a _ngcontent-skr-c2="" data-test="headerActivityLink"
                                                                         routerlink="/activity" routerlinkactive="active"
                                                                         href="/activity"><i
                                                    _ngcontent-skr-c2="" class="icon-activity-icon"></i> Activity</a></div>
                                        </div>

                                        <div _ngcontent-skr-c2="" class="userDropdownContainer ng-star-inserted"
                                             data-test="headerUserDropdownMenu">
                                            <p _ngcontent-skr-c2="">
                                                <i _ngcontent-skr-c2=""
                                                   class="material-icons">
                                                    person_outline
                                                </i>
                                                <a [routerLink]="['/login']">Logout</a>
                                            </p>
                                            <div _ngcontent-skr-c2="" class="ng-tns-c23-8"><!----></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <main _ngcontent-skr-c0="" class="content">


                            <div _ngcontent-skr-c0="" _nghost-skr-c3="" class="ng-star-inserted app-side-menu">

                                <div _ngcontent-skr-c3="" class="overlay-one"></div>
                                <div _ngcontent-skr-c3="" class="overlay-two"></div>

                                <div _ngcontent-skr-c3="" class="side-menu-content" data-test="sideMenu">
                                    <div _ngcontent-skr-c3="" class="menu-filters">

                                        <form _ngcontent-skr-c3="" novalidate="" class="ng-untouched ng-pristine ng-valid">
                                            <div _ngcontent-skr-c3="" appearance="outline"
                                                 class="form-field mat-form-field ng-tns-c9-7 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-outline mat-form-field-can-float ng-untouched ng-pristine ng-valid">
                                                <div class="mat-form-field-wrapper">
                                                    <div class="mat-form-field-flex"><!----><!---->
                                                        <div class="mat-form-field-outline ng-tns-c9-7 ng-star-inserted">
                                                            <div class="mat-form-field-outline-start"></div>
                                                            <div class="mat-form-field-outline-gap"></div>
                                                            <div class="mat-form-field-outline-end"></div>
                                                        </div>
                                                        <div class="mat-form-field-outline mat-form-field-outline-thick ng-tns-c9-7 ng-star-inserted">
                                                            <div class="mat-form-field-outline-start"></div>
                                                            <div class="mat-form-field-outline-gap"></div>
                                                            <div class="mat-form-field-outline-end"></div>
                                                        </div><!---->
                                                        <div class="mat-form-field-infix"><input _ngcontent-skr-c3=""
                                                                                                 autocomplete="off"
                                                                                                 class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-untouched ng-pristine ng-valid"
                                                                                                 data-test="sideMenuSearchInput"
                                                                                                 formcontrolname="search"
                                                                                                 matinput="" name="search"
                                                                                                 placeholder="Search" type="text"
                                                                                                 id="mat-input-0"
                                                                                                 aria-invalid="false"
                                                                                                 aria-required="false"><span
                                                                class="mat-form-field-label-wrapper"><!----></span></div><!---->
                                                    </div><!---->
                                                    <div class="mat-form-field-subscript-wrapper"><!----><!---->
                                                        <div class="mat-form-field-hint-wrapper ng-tns-c9-7 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                             style="opacity: 1; transform: translateY(0%);"><!---->
                                                            <div class="mat-form-field-hint-spacer"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!---->
                                        </form>

                                        <div _ngcontent-skr-c3="" aria-label="Menu Expand"
                                             class="mat-button-toggle-group mat-button-toggle-group-appearance-standard"
                                             name="menuExpand" role="group" aria-disabled="false">
                                            <div _ngcontent-skr-c3=""
                                                 class="mat-button-toggle mat-button-toggle-appearance-standard"
                                                 value="expand" tabindex="-1" id="mat-button-toggle-1">
                                                <button class="mat-button-toggle-button" type="button"
                                                        id="mat-button-toggle-1-button" tabindex="0" aria-pressed="false"
                                                        name="menuExpand">
                                                    <div class="mat-button-toggle-label-content">Expand All <i _ngcontent-skr-c3=""
                                                                                                               class="icon-expand-icon"></i>
                                                    </div>
                                                </button>
                                                <div class="mat-button-toggle-focus-overlay"></div>
                                                <div class="mat-button-toggle-ripple mat-ripple" matripple=""></div>
                                            </div>
                                            <div _ngcontent-skr-c3=""
                                                 class="mat-button-toggle mat-button-toggle-appearance-standard"
                                                 value="collapse" tabindex="-1" id="mat-button-toggle-2">
                                                <button class="mat-button-toggle-button" type="button"
                                                        id="mat-button-toggle-2-button" tabindex="0" aria-pressed="false"
                                                        name="menuExpand">
                                                    <div class="mat-button-toggle-label-content">Collapse All <i
                                                            _ngcontent-skr-c3="" class="icon-collapse-icon"></i></div>
                                                </button>
                                                <div class="mat-button-toggle-focus-overlay"></div>
                                                <div class="mat-button-toggle-ripple mat-ripple" matripple=""></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div _ngcontent-skr-c3="" class="menu-tree mat-tree ng-star-inserted" role="tree"><!---->

                                        <div _ngcontent-skr-c3="" class="mat-tree-node ng-star-inserted"
                                             mattreenodetoggle="" aria-expanded="false" aria-level="0" role="treeitem">
                                            <li _ngcontent-skr-c3="" class="mat-tree-node sds">
                                                <button _ngcontent-skr-c3="" disabled="true" mat-icon-button=""
                                                        class="mat-icon-button"><span class="mat-button-wrapper"></span>
                                                    <div class="mat-button-ripple mat-ripple mat-button-ripple-round"
                                                         matripple=""></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <i _ngcontent-skr-c3="" class="icon-sds-icon"></i><a _ngcontent-skr-c3=""
                                                                                                     class="menu-item"
                                                                                                     data-test="sideMenuLeaf"
                                                                                                     routerlinkactive="active"
                                                                                                     data-test-entity="SDServers"
                                                                                                     href="/sds/list"><span
                                                    _ngcontent-skr-c3="">SDServers</span></a><!---->
                                                <div _ngcontent-skr-c3="" class="menu-total-tags ng-star-inserted"
                                                     data-test="entityCount" data-test-entity-type="sds">0
                                                </div><!----><!----><!----></li>
                                        </div>

                                        <div _ngcontent-skr-c3="" class="mat-nested-tree-node ng-star-inserted"
                                             aria-expanded="false" role="group">
                                            <li _ngcontent-skr-c3="">
                                                <div _ngcontent-skr-c3="" class="mat-tree-node pool">
                                                    <button _ngcontent-skr-c3="" data-test="sideMenuExpandableNodeExpandButton"
                                                            mat-icon-button="" mattreenodetoggle="" class="mat-icon-button"
                                                            data-test-entity="Pools1" aria-label="toggle Pools"><span
                                                            class="mat-button-wrapper"><i _ngcontent-skr-c3=""
                                                                                          class="icon-expand-single-icon"></i></span>
                                                        <div class="mat-button-ripple mat-ripple mat-button-ripple-round"
                                                             matripple=""></div>
                                                        <div class="mat-button-focus-overlay"></div>
                                                    </button>
                                                    <i _ngcontent-skr-c3="" class="icon-pool-icon"></i>

                                                    <a _ngcontent-skr-c3=""
                                                       class="menu-item"
                                                       data-test="sideMenuExpandableNode"
                                                       routerlinkactive="active"
                                                       data-test-entity="Pools"
                                                       routerLink="/pool/list"
                                                    >
                                                        <span _ngcontent-skr-c3="">
                                                            Pools
                                                        </span>
                                                    </a><!---->
                                                    <div _ngcontent-skr-c3="" class="menu-total-tags ng-star-inserted"
                                                         data-test="entityCount" data-test-entity-type="pool">1
                                                    </div>
                                                </div>
                                                <ul _ngcontent-skr-c3="" class="menu-tree-invisible"><!---->
                                                    <div _ngcontent-skr-c3="" class="mat-tree-node ng-star-inserted"
                                                         mattreenodetoggle="" aria-expanded="false" aria-level="0"
                                                         role="treeitem">
                                                        <li _ngcontent-skr-c3="" class="mat-tree-node pool">
                                                            <button _ngcontent-skr-c3="" disabled="true" mat-icon-button=""
                                                                    class="mat-icon-button"><span class="mat-button-wrapper"></span>
                                                                <div class="mat-button-ripple mat-ripple mat-button-ripple-round"
                                                                     matripple=""></div>
                                                                <div class="mat-button-focus-overlay"></div>
                                                            </button>
                                                            <i _ngcontent-skr-c3="" class="icon-pool-icon"></i><a
                                                                _ngcontent-skr-c3="" class="menu-item" data-test="sideMenuLeaf"
                                                                routerlinkactive="active" data-test-entity="First pool"
                                                                href="/pool/eb0801d5-614f-907b-4175-574d89018661"><span
                                                                _ngcontent-skr-c3="">First pool</span></a><!---->
                                                            <div _ngcontent-skr-c3="" class="menu-total-tags ng-star-inserted"
                                                                 data-test="entityCount" data-test-entity-type="pool">0 Nodes
                                                            </div><!----><!----><!----></li>
                                                    </div>
                                                </ul>
                                            </li>
                                        </div>

                                        <div _ngcontent-skr-c3="" class="mat-tree-node ng-star-inserted"
                                             mattreenodetoggle="" aria-expanded="false" aria-level="0" role="treeitem">
                                            <li _ngcontent-skr-c3="" class="mat-tree-node node">
                                                <button _ngcontent-skr-c3="" disabled="true" mat-icon-button=""
                                                        class="mat-icon-button"><span class="mat-button-wrapper"></span>
                                                    <div class="mat-button-ripple mat-ripple mat-button-ripple-round"
                                                         matripple=""></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <i _ngcontent-skr-c3="" class="icon-node-icon"></i><a _ngcontent-skr-c3=""
                                                                                                      class="menu-item"
                                                                                                      data-test="sideMenuLeaf"
                                                                                                      routerlinkactive="active"
                                                                                                      data-test-entity="View All Nodes"
                                                                                                      href="/node/list"><span
                                                    _ngcontent-skr-c3="">View All Nodes</span></a><!---->
                                                <div _ngcontent-skr-c3="" class="menu-total-tags ng-star-inserted"
                                                     data-test="entityCount" data-test-entity-type="node">0
                                                </div><!----><!----><!----></li>
                                        </div>

                                    </div>
                                </div>

                            </div>


                            <div _ngcontent-skr-c0="" _nghost-skr-c4="" class="app-content-container">

                                <button (click)="setLanguage('en')">English</button>
                                <button (click)="setLanguage('ru')">Russian</button>
                                <p>Current language: {{ currentLanguage }}</p>

                                <router-outlet></router-outlet>


                            </div>


                        </main>
                    </div>
                </div>
            </div>
        </main>


        <div class="footer">
            <div class="footerContainer">
                <p>
                    © CompanyMove™ 2023
                </p>
            </div>
        </div>
    </div>
</div>
