<div _ngcontent-hoy-c18=""
     class="overlay-detail-background
        ng-tns-c18-5
        ng-trigger
        ng-trigger-fadeInOnEnter
        ng-star-inserted"
></div>

<div _ngcontent-hoy-c18=""
     class="overlayContainer
     ng-tns-c18-5 ng-trigger
     ng-trigger-slideInRightOnEnter
     ng-star-inserted"
     data-test="detailOverlay"
>
    <div _ngcontent-hoy-c18="" class="close">
        <i _ngcontent-hoy-c18="" class="material-icons">clear</i>
    </div>
    <div _ngcontent-hoy-c18="" class="overlayContentContainer">
        <div _ngcontent-hoy-c13="" class="help-content">
            <div _ngcontent-hoy-c13="" class="detail-overlay-header"><h2 _ngcontent-hoy-c13="">Dashboard Help
                Guide</h2></div>
            <h3 _ngcontent-hoy-c13="">AttikaMove Dashboard</h3>
            <p _ngcontent-hoy-c13="">The AttikaMove Dashboard provides a high level view into all the SDServers and
                Nodes managed by this instance of the AttikaMove management software. The Dashboard view is the
                default page on logging into AttikaMove.</p>
            <p _ngcontent-hoy-c13=""><span _ngcontent-hoy-c13="" class="material-icons help-more-info">info</span>
                At any time you may return to the Dashboard by clicking on the "AttikaMove" logo in the top left of
                the browser.</p></div>
    </div>
</div>
