@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import 'past_styles';
@include mat.core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fullWrap {
  min-height: 100vh;
}

.pageWrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  position: relative;
}

noHeader {
  margin-top: 0;
}

.content {
  flex: 1;
  background: #f8f8f8;
  display: flex;
  align-items: stretch;
 }

.app-content-container {
  flex: 6;
}

.login-container {
  background-image: url('assets/bg_login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  width: 100%;
  background: #0b486b;
  position: relative;
  bottom: 0;
}

.footerContainer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContainer p {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  margin-top: auto;
  margin-bottom: auto;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.alert {
  display: none;
}

.login-card {
  font-family: Lato,Roboto,"Helvetica Neue",sans-serif;
  box-shadow: 6px 0 50px rgb(51 51 51 / 76%);
  border-radius: 20px;
  min-height: 400px;
  padding: 30px;
  max-width: 50%;
  position: relative;
  overflow: hidden;
  background: #fff;
  color: #333;
  flex: 0 0 50em;
}

.header {
  height: 60px;
  position: absolute;
  width: 100%;
}


.content_home {
    flex: 1;
    margin-top: 64px;
    background: #f8f8f8;
    display: flex;
    align-items: stretch;
}

.app-side-menu {
  flex: 1.5;
  background: #0b486b;
  position: relative;
  overflow: hidden;
  z-index: 1;
  min-width: 170px;
}

.app-content-container {
  flex: 6;
}

.header-actions-container {
  flex: 2;
  position: relative;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 16px 0 0;
  overflow: hidden;
}

.side-menu-content {
  position: relative;
  z-index: 1;
}

.menu-filters {
  padding: 20px 10px;
}

.form_side_menu {
  position: relative;
}


.stats-wrapper[_ngcontent-skr-c13] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start
}

.stats-wrapper[_ngcontent-skr-c13] .app-stats-container[_ngcontent-skr-c13] {
  width: 20%;
  margin: 0 15px;
  min-height: 230px
}

@media (min-width: 1024px) {
  .stats-wrapper[_ngcontent-skr-c13] .app-stats-container[_ngcontent-skr-c13] {
    width: 16%
  }
}

.stats-wrapper[_ngcontent-skr-c13] .app-stats-container[_ngcontent-skr-c13] a[_ngcontent-skr-c13] {
  color: #fff
}

.stats-wrapper[_ngcontent-skr-c13] .app-stats-container[_ngcontent-skr-c13] a[_ngcontent-skr-c13]:hover {
  color: #19a6f7
}

.stats-wrapper[_ngcontent-skr-c13] .app-stats-container.withChart[_ngcontent-skr-c13] {
  min-height: 310px
}

.stats-wrapper[_ngcontent-skr-c13] .app-stats-container.withLink[_ngcontent-skr-c13]:hover {
  cursor: pointer
}

.stats-wrapper[_ngcontent-skr-c13] .app-stats-container.withLink[_ngcontent-skr-c13]:active, .stats-wrapper[_ngcontent-skr-c13] .app-stats-container.withLink[_ngcontent-skr-c13]:focus {
  outline: 0
}

.stats-wrapper[_ngcontent-skr-c13] .app-stats-container[_ngcontent-skr-c13] .stat-number[_ngcontent-skr-c13], .stats-wrapper[_ngcontent-skr-c13] .app-stats-container[_ngcontent-skr-c13] .stat-unit[_ngcontent-skr-c13], .stats-wrapper[_ngcontent-skr-c13] .app-stats-container[_ngcontent-skr-c13] i[_ngcontent-skr-c13] {
  z-index: 1;
  position: relative
}

.stats-wrapper[_ngcontent-skr-c13] .app-stats-container[_ngcontent-skr-c13] i[_ngcontent-skr-c13] {
  font-size: 30px;
  margin-bottom: 10px
}

.stats-wrapper[_ngcontent-skr-c13] .app-stats-container[_ngcontent-skr-c13] i.unassigned-dot[_ngcontent-skr-c13]:after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 15px;
  left: 15px;
  background: #fff;
  box-shadow: 0 0 2px #000
}

.stats-wrapper[_ngcontent-skr-c13] .app-stats-container[_ngcontent-skr-c13] .stat-number[_ngcontent-skr-c13] {
  font-size: 54px
}

.stats-wrapper[_ngcontent-skr-c13] .app-stats-container[_ngcontent-skr-c13] .stat-number[_ngcontent-skr-c13] span[_ngcontent-skr-c13] {
  font-size: 20px
}

.stats-wrapper[_ngcontent-skr-c13] .app-stats-container[_ngcontent-skr-c13] .stat-unit[_ngcontent-skr-c13] {
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
  min-height: 20px
}

.stats-wrapper[_ngcontent-skr-c13] .app-stats-container[_ngcontent-skr-c13] .stat-unit[_ngcontent-skr-c13] span[_ngcontent-skr-c13] {
  font-size: 14px
}

.stats-wrapper[_ngcontent-skr-c13] .no-pools-container[_ngcontent-skr-c13] {
  min-height: 230px;
  flex-grow: 1;
  font-family: Lato, Roboto, "Helvetica Neue", sans-serif;
  border-radius: 6px;
  background: linear-gradient(135deg, #e2ebef 0, #fff 100%);
  position: relative;
  overflow: hidden;
  margin: 0 15px
}

.stats-wrapper[_ngcontent-skr-c13] .no-pools-container[_ngcontent-skr-c13] .power-overlay[_ngcontent-skr-c13] {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  right: -80%;
  width: 150%;
  height: 60%;
  background: linear-gradient(120deg, #cfe0e8 0, #fafcfd 100%);
  transform: rotate(65deg)
}

.stats-wrapper[_ngcontent-skr-c13] .no-pools-container[_ngcontent-skr-c13] img[_ngcontent-skr-c13] {
  width: 20%
}

.stats-wrapper[_ngcontent-skr-c13] .no-pools-container[_ngcontent-skr-c13] button[_ngcontent-skr-c13], .stats-wrapper[_ngcontent-skr-c13] .no-pools-container[_ngcontent-skr-c13] img[_ngcontent-skr-c13] {
  display: block;
  margin: 0 auto;
  z-index: 1;
  position: relative
}

.stats-wrapper[_ngcontent-skr-c13] .no-pools-container[_ngcontent-skr-c13] button[_ngcontent-skr-c13] {
  margin: 10px auto
}

.stats-wrapper[_ngcontent-skr-c13] .no-pools-container[_ngcontent-skr-c13] h3[_ngcontent-skr-c13], .stats-wrapper[_ngcontent-skr-c13] .no-pools-container[_ngcontent-skr-c13] p[_ngcontent-skr-c13] {
  text-align: center;
  z-index: 1;
  position: relative;
  max-width: 70%;
  margin: 20px auto
}

.stats-wrapper[_ngcontent-skr-c13] .no-pools-container[_ngcontent-skr-c13] h3[_ngcontent-skr-c13] {
  color: #333;
  font-size: 18px;
  font-weight: 100
}

.stats-wrapper[_ngcontent-skr-c13] .no-pools-container[_ngcontent-skr-c13] p.notify-small[_ngcontent-skr-c13] {
  margin: 20px auto 0;
  color: #d62630;
  font-size: 12px;
  padding-right: 15px
}

.home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] {
  display: flex;
  align-items: flex-start;
  margin: 20px 15px;
  justify-content: space-between
}

.home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] > div[_ngcontent-skr-c13] {
  width: 46%;
  margin: 15px 0;
  padding: 10px 15px;
  background: #fff;
  border-radius: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-header[_ngcontent-skr-c13] {
  display: flex;
  align-items: flex-start;
  padding: 10px 5px 0
}

.home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-header[_ngcontent-skr-c13] h2[_ngcontent-skr-c13] {
  margin: 0;
  display: flex;
  align-items: center
}

.home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-header[_ngcontent-skr-c13] h2[_ngcontent-skr-c13] .sub-header[_ngcontent-skr-c13] {
  font-size: 12px;
  color: #8d8d8d;
  padding-left: 10px;
  margin-left: 10px;
  position: relative
}

.home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-header[_ngcontent-skr-c13] h2[_ngcontent-skr-c13] .sub-header[_ngcontent-skr-c13]:before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  top: 6px;
  left: -2px;
  background: rgba(0, 0, 0, .12);
  border-radius: 50%
}

.home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-header[_ngcontent-skr-c13] button[_ngcontent-skr-c13] {
  margin: 0 0 0 auto
}

.home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-list[_ngcontent-skr-c13] {
  max-height: 350px;
  overflow-y: auto;
  margin: 10px 0
}

.home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-list[_ngcontent-skr-c13] ul[_ngcontent-skr-c13] li[_ngcontent-skr-c13] a[_ngcontent-skr-c13] {
  font-size: 14px
}

.home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-list.list-items[_ngcontent-skr-c13] ul[_ngcontent-skr-c13], .home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-list.timeline[_ngcontent-skr-c13] ul[_ngcontent-skr-c13] {
  padding: 0
}

.home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-list.list-items[_ngcontent-skr-c13] ul[_ngcontent-skr-c13] li[_ngcontent-skr-c13] {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 25px;
  border: 1px solid rgba(0, 0, 0, .12);
  margin: 0 0 5px;
  border-radius: 6px;
  position: relative
}

.home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-list.list-items[_ngcontent-skr-c13] ul[_ngcontent-skr-c13] li.alert-error[_ngcontent-skr-c13] p[_ngcontent-skr-c13], .home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-list.list-items[_ngcontent-skr-c13] ul[_ngcontent-skr-c13] li.alert-warning[_ngcontent-skr-c13] p[_ngcontent-skr-c13] {
  padding: 0 5px;
  max-width: 300px
}

@media (min-width: 1750px) {
  .home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-list.list-items[_ngcontent-skr-c13] ul[_ngcontent-skr-c13] li.alert-error[_ngcontent-skr-c13] p[_ngcontent-skr-c13], .home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-list.list-items[_ngcontent-skr-c13] ul[_ngcontent-skr-c13] li.alert-warning[_ngcontent-skr-c13] p[_ngcontent-skr-c13] {
    max-width: 470px
  }
}

.home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-list.list-items[_ngcontent-skr-c13] ul[_ngcontent-skr-c13] li.alert-error[_ngcontent-skr-c13]:before, .home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-list.list-items[_ngcontent-skr-c13] ul[_ngcontent-skr-c13] li.alert-warning[_ngcontent-skr-c13]:before {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  left: 10px;
  border-radius: 50%
}

.home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-list.list-items[_ngcontent-skr-c13] ul[_ngcontent-skr-c13] li.alert-error[_ngcontent-skr-c13]:before {
  background: #d62630
}

.home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-list.list-items[_ngcontent-skr-c13] ul[_ngcontent-skr-c13] li.alert-warning[_ngcontent-skr-c13]:before {
  background: #f28b50
}

.home-container[_ngcontent-skr-c13] .two-column-wrapper[_ngcontent-skr-c13] .container-list.list-items[_ngcontent-skr-c13] ul[_ngcontent-skr-c13] li[_ngcontent-skr-c13] button[_ngcontent-skr-c13] {
  margin: 0 0 0 auto
}

.table-scroll-container[_ngcontent-skr-c13] {
  max-height: 400px;
  overflow: auto;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  border-radius: 6px
}


.table-header[_ngcontent-skr-c13] {
  margin-top: 40px
}

.table-header[_ngcontent-skr-c13] form[_ngcontent-skr-c13] {
  width: 25%
}

.table-header[_ngcontent-skr-c13] mat-form-field.mat-form-field[_ngcontent-skr-c13] {
  width: 100%
}

.table-header[_ngcontent-skr-c13] button[_ngcontent-skr-c13] {
  margin-left: auto
}
.container[_ngcontent-skr-c14] {
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 20px;
  color: #fff;
  font-family: Lato, Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  border-radius: 6px
}

.container[_ngcontent-skr-c14] .container-overlay[_ngcontent-skr-c14] {
  position: absolute;
  z-index: 0;
  top: -10%;
  bottom: 0;
  right: -130%;
  width: 220%;
  height: 60%;
  transform: rotate(55deg)
}

@media (min-width: 1024px) {
  .container[_ngcontent-skr-c14] .container-overlay[_ngcontent-skr-c14] {
    top: -5%;
    right: -70%;
    width: 150%
  }
}

@media (min-width: 1024px) and (max-width: 1749px) {
  .container[_ngcontent-skr-c14] .container-overlay[_ngcontent-skr-c14] {
    top: -5%;
    right: -110%;
    width: 220%
  }
}

.container.green[_ngcontent-skr-c14] {
  background: #077582;
  background: linear-gradient(150deg, #077582 0, #067672 100%)
}

.container.green[_ngcontent-skr-c14] .container-overlay[_ngcontent-skr-c14] {
  background: linear-gradient(150deg, #06636e 0, #06636e 30%, #067672 100%)
}

.container.red[_ngcontent-skr-c14] {
  background: #a73151;
  background: linear-gradient(150deg, #f23568 0, #a73151 100%)
}

.container.red[_ngcontent-skr-c14] .container-overlay[_ngcontent-skr-c14] {
  background: linear-gradient(150deg, #b1294d 0, #b1294d 30%, #a73151 100%)
}

.container.blue[_ngcontent-skr-c14] {
  background: #006a99;
  background: linear-gradient(150deg, #006a99 0, #4694a6 100%)
}

.container.blue[_ngcontent-skr-c14] .container-overlay[_ngcontent-skr-c14] {
  background: linear-gradient(150deg, #0b486b 0, #0b486b 30%, #4694a6 100%)
}

.container.purple[_ngcontent-skr-c14] {
  background: #4450b9;
  background: linear-gradient(150deg, #4450b9 0, #6974d1 100%)
}

.container.purple[_ngcontent-skr-c14] .container-overlay[_ngcontent-skr-c14] {
  background: linear-gradient(150deg, #343d8a 0, #343d8a 30%, #6974d1 100%)
}
.ngx-charts {
  float: left;
  overflow: visible
}

.ngx-charts .arc, .ngx-charts .bar, .ngx-charts .circle {
  cursor: pointer
}

.ngx-charts .arc.active, .ngx-charts .arc:hover, .ngx-charts .bar.active, .ngx-charts .bar:hover, .ngx-charts .card.active, .ngx-charts .card:hover, .ngx-charts .cell.active, .ngx-charts .cell:hover {
  opacity: .8;
  transition: opacity .1s ease-in-out
}

.ngx-charts .arc:focus, .ngx-charts .bar:focus, .ngx-charts .card:focus, .ngx-charts .cell:focus {
  outline: 0
}

.ngx-charts .arc.hidden, .ngx-charts .bar.hidden, .ngx-charts .card.hidden, .ngx-charts .cell.hidden {
  display: none
}

.ngx-charts g:focus {
  outline: 0
}

.ngx-charts .area-series.inactive, .ngx-charts .line-series-range.inactive, .ngx-charts .line-series.inactive, .ngx-charts .polar-series-area.inactive, .ngx-charts .polar-series-path.inactive {
  transition: opacity .1s ease-in-out;
  opacity: .2
}

.ngx-charts .line-highlight {
  display: none
}

.ngx-charts .line-highlight.active {
  display: block
}

.ngx-charts .area {
  opacity: .6
}

.ngx-charts .circle:hover {
  cursor: pointer
}

.ngx-charts .label {
  font-size: 12px;
  font-weight: 400
}

.ngx-charts .tooltip-anchor {
  fill: #000
}

.ngx-charts .gridline-path {
  stroke: #ddd;
  stroke-width: 1;
  fill: none
}

.ngx-charts .refline-path {
  stroke: #a8b2c7;
  stroke-width: 1;
  stroke-dasharray: 5;
  stroke-dashoffset: 5
}

.ngx-charts .refline-label {
  font-size: 9px
}

.ngx-charts .reference-area {
  fill-opacity: .05;
  fill: #000
}

.ngx-charts .gridline-path-dotted {
  stroke: #ddd;
  stroke-width: 1;
  fill: none;
  stroke-dasharray: 1, 20;
  stroke-dashoffset: 3
}

.ngx-charts .grid-panel rect {
  fill: none
}

.ngx-charts .grid-panel.odd rect {
  fill: rgba(0, 0, 0, .05)
}
.pie-label {
  font-size: 11px
}

.pie-label.animation {
  -webkit-animation: 750ms ease-in fadeIn;
  animation: 750ms ease-in fadeIn
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.pie-label-line {
  stroke-dasharray: 100%
}

.pie-label-line.animation {
  -webkit-animation: 3s linear drawOut;
  animation: 3s linear drawOut;
  transition: d 750ms
}

@-webkit-keyframes drawOut {
  from {
    stroke-dashoffset: 100%
  }
  to {
    stroke-dashoffset: 0
  }
}

@keyframes drawOut {
  from {
    stroke-dashoffset: 100%
  }
  to {
    stroke-dashoffset: 0
  }
}


@media (hover: none) {
  .mat-button:hover .mat-button-focus-overlay, .mat-stroked-button:hover .mat-button-focus-overlay {
    opacity: 0
  }
}


.overlay-detail-background[_ngcontent-skr-c18] {
  position: fixed;
  background: rgba(7, 33, 49, .6);
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1
}

.overlay-detail-background[_ngcontent-skr-c18]:hover {
  cursor: pointer
}

.overlayContainer[_ngcontent-skr-c18] {
  background: #fff;
  height: 100%;
  width: 500px;
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  border-left: 1px solid #ddd;
  z-index: 1;
  padding: 15px;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, .4);
  overflow-y: auto
}

.overlayContainer[_ngcontent-skr-c18] .close[_ngcontent-skr-c18] i[_ngcontent-skr-c18] {
  color: #999;
  cursor: pointer
}

.toolbar-overlay[_ngcontent-skr-c2] {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 64px;
  background: rgba(11, 72, 107, .75);
  z-index: 0
}

a[_ngcontent-skr-c2] {
  text-decoration: none;
  color: #fff
}

.logo-image[_ngcontent-skr-c2] {
  max-width: 90%;
  margin-top: 8px
}

.userDropdownContainer[_ngcontent-skr-c2] {
  z-index: 1;
  display: flex;
  align-items: center
}

.userDropdownContainer[_ngcontent-skr-c2] p[_ngcontent-skr-c2] {
  color: #fff;
  display: flex;
  align-items: center
}

.userDropdownContainer[_ngcontent-skr-c2] p[_ngcontent-skr-c2] i[_ngcontent-skr-c2] {
  margin: 0 10px
}

.overlay-one[_ngcontent-skr-c3] {
  position: absolute;
  right: -90px;
  top: -95px;
  background: rgba(87, 128, 151, .6);
  width: 250%;
  height: 90px;
  z-index: 0;
  transform: rotate(15deg)
}

.overlay-two[_ngcontent-skr-c3] {
  position: absolute;
  right: -90px;
  top: -105px;
  background: #578097;
  width: 250%;
  height: 90px;
  z-index: 0;
  transform: rotate(15deg)
}

.side-menu-content[_ngcontent-skr-c3] {
  position: relative;
  z-index: 1
}

.side-menu-content[_ngcontent-skr-c3] .menu-filters[_ngcontent-skr-c3] {
  padding: 20px 10px
}

.side-menu-content[_ngcontent-skr-c3] .menu-empty[_ngcontent-skr-c3] {
  text-align: center
}

.side-menu-content[_ngcontent-skr-c3] .menu-empty[_ngcontent-skr-c3] p[_ngcontent-skr-c3] {
  color: #fff
}

.side-menu-content[_ngcontent-skr-c3] .menu-empty[_ngcontent-skr-c3] p.clear[_ngcontent-skr-c3]:hover {
  cursor: pointer
}

.side-menu-content[_ngcontent-skr-c3] form[_ngcontent-skr-c3] {
  position: relative
}

.side-menu-content[_ngcontent-skr-c3] form[_ngcontent-skr-c3] .input-right-icon[_ngcontent-skr-c3] {
  position: absolute;
  top: 2px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  right: 0;
  color: #999
}


.side-menu-content[_ngcontent-skr-c3] .form-field[_ngcontent-skr-c3] {
  width: 100%
}


.menu-tree-invisible[_ngcontent-skr-c3] {
  display: none
}

.menu-tree[_ngcontent-skr-c3] li[_ngcontent-skr-c3], .menu-tree[_ngcontent-skr-c3] ul[_ngcontent-skr-c3] {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none
}

.activityLogItem[_ngcontent-skr-c16] {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, .12);
  position: relative
}

.activityLogItem[_ngcontent-skr-c16]:before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #006a99;
  left: -4px
}

.activityLogItem[_ngcontent-skr-c16] p.date[_ngcontent-skr-c16] {
  color: #8d8d8d;
  font-size: 12px;
  margin-right: 10px
}

.activityLogItem[_ngcontent-skr-c16] p.description[_ngcontent-skr-c16] a[_ngcontent-skr-c16] {
  font-size: 14px
}
.alertItem[_ngcontent-skr-c17] {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 10px 5px 35px;
  border: 1px solid rgba(0, 0, 0, .12);
  margin: 0 0 5px 35px;
  border-radius: 6px;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1)
}

.alertItem.read[_ngcontent-skr-c17] {
  box-shadow: none;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, .05)
}

.alertItem[_ngcontent-skr-c17] > div[_ngcontent-skr-c17] {
  max-width: 70%
}

.alertItem[_ngcontent-skr-c17] > div.alert-tags[_ngcontent-skr-c17] {
  max-width: 30%;
  display: flex;
  align-items: center;
  flex-wrap: wrap
}

.alertItem[_ngcontent-skr-c17] > div[_ngcontent-skr-c17] button[_ngcontent-skr-c17] {
  margin: 0 5px 5px auto;
  min-width: 105px
}

.alertItem[_ngcontent-skr-c17] > div[_ngcontent-skr-c17] button.square[_ngcontent-skr-c17] {
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  padding: 0;
  overflow: hidden
}

.alertItem[_ngcontent-skr-c17] .read-button[_ngcontent-skr-c17] {
  position: absolute;
  left: -40px
}

.alertItem[_ngcontent-skr-c17] a[_ngcontent-skr-c17] {
  font-size: 14px
}

.alertItem[_ngcontent-skr-c17] p[_ngcontent-skr-c17] {
  margin: 5px;
  word-break: break-word
}

.alertItem[_ngcontent-skr-c17] p.time-stamp[_ngcontent-skr-c17] {
  width: 100%;
  font-size: 12px;
  color: #8d8d8d
}

.alertItem[_ngcontent-skr-c17]:before {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  left: 10px;
  border-radius: 50%;
  background: #999
}

.alertItem.error[_ngcontent-skr-c17]:before {
  background: #d62630
}

.alertItem.warning[_ngcontent-skr-c17]:before {
  background: #f5a851
}

.alertItem[_ngcontent-skr-c17] div.alert-tag[_ngcontent-skr-c17] {
  margin: 0 0 0 auto
}

.alertItem[_ngcontent-skr-c17] div.alert-tag[_ngcontent-skr-c17] p[_ngcontent-skr-c17] {
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 10px;
  display: inline-block;
  margin: 5px
}

.alertItem[_ngcontent-skr-c17] div.alert-tag[_ngcontent-skr-c17] p.node[_ngcontent-skr-c17] {
  background: #f6ceff;
  color: #700089
}

.alertItem[_ngcontent-skr-c17] div.alert-tag[_ngcontent-skr-c17] p.sds[_ngcontent-skr-c17] {
  background: #c3fff1;
  color: #006950
}

.alertItem[_ngcontent-skr-c17] div.alert-tag[_ngcontent-skr-c17] p.system[_ngcontent-skr-c17] {
  background: #def;
  color: #00376e
}

.alertItem[_ngcontent-skr-c17] div.alert-tag[_ngcontent-skr-c17] p.pool[_ngcontent-skr-c17] {
  background: #dbc7ff;
  color: #27006e
}
.chart-legend {
  display: inline-block;
  padding: 0;
  width: auto !important
}

.chart-legend .legend-title {
  white-space: nowrap;
  overflow: hidden;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700
}

.chart-legend li, .chart-legend ul {
  padding: 0;
  margin: 0;
  list-style: none
}

.chart-legend .horizontal-legend li {
  display: inline-block
}

.chart-legend .legend-wrap {
  width: calc(100% - 10px)
}

.chart-legend .legend-labels {
  line-height: 85%;
  list-style: none;
  text-align: left;
  float: left;
  width: 100%;
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  background: rgba(0, 0, 0, .05)
}

.chart-legend .legend-label {
  cursor: pointer;
  font-size: 90%;
  margin: 8px;
  color: #afb7c8
}

.chart-legend .legend-label:hover {
  color: #000;
  transition: .2s
}

.chart-legend .legend-label .active .legend-label-text {
  color: #000
}

.chart-legend .legend-label-color {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  color: #5b646b;
  border-radius: 3px
}

.chart-legend .legend-label-text {
  display: inline-block;
  vertical-align: top;
  line-height: 15px;
  font-size: 12px;
  width: calc(100% - 20px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}

.chart-legend .legend-title-text {
  vertical-align: bottom;
  display: inline-block;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}


.content[_ngcontent-skr-c0] {
  flex: 1;
  margin-top: 64px;
  background: #f8f8f8;
}





.header-title-container {
  padding-left: 20px;
}

.testDataJsonContainer {
  padding: 20px;
  padding-left: 40px;
  color: #fff;
}
.userDropdownContainer {
  padding-top: 10px;
}

.userDropdownContainer  a {
  color: #fff;
}

.page-header .header-links {
  width: 100%;
  margin: 5px 0;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  color: #0b486b;
  padding: 0 16px;
  margin: 5px 0;
  font-family: Lato,Roboto,"Helvetica Neue",sans-serif;
}

.chart-legend {
  top: 0;
  left: 0;
  position: absolute;
  display: inline-block;
  padding: 0;
  width: auto!important;
}

h2 {
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  color: #333;
}



.ng-star-inserted .description a {
  color: #0b486b;
  font-weight: 700;
  font-size: 16px;
  transition: color .5s ease-in-out;
  font-size: 14px;
  font-family: Lato,Roboto,"Helvetica Neue",sans-serif;
}

.app-stats-container {
  height: 310px;
}
