<div _nghost-skr-c13="" class="ng-star-inserted app-page-home">
    <div _ngcontent-skr-c13="" class="home-container">
        <app-page-header
            [title]="pageTitle"
            [contentInput]="helpContent"
        ></app-page-header>
        <app-stats-container></app-stats-container>
        <div _ngcontent-skr-c13="" class="two-column-wrapper">
            <div _ngcontent-skr-c13="" class="activity-container">
                <div _ngcontent-skr-c13="" class="container-header"><h2 _ngcontent-skr-c13="">
                    Activity <span _ngcontent-skr-c13="" class="sub-header">Last 20 Logs</span></h2>
                    <button _ngcontent-skr-c13="" class="small mat-raised-button mat-gradient"
                            data-test="homePageViewAllActivityButton" mat-raised-button=""
                            matripple=""><span class="mat-button-wrapper"> View all Activity </span>
                        <div class="mat-button-ripple mat-ripple" matripple=""></div>
                        <div class="mat-button-focus-overlay"></div>
                    </button>
                </div><!---->
                <div _ngcontent-skr-c13="" class="container-list timeline ng-star-inserted">

                    <div *ngFor="let logItemKey of WsService.activityLogKeysAr" _ngcontent-skr-c13="" class="ng-star-inserted">
                        <div _ngcontent-skr-c13="" _nghost-skr-c16="">
                            <div _ngcontent-skr-c16="" class="activityLogItem"
                                 data-test="activityLogItem">
                                <p _ngcontent-skr-c16="" class="date">
                                    {{ WsService.initResponse?.liveTree?.activityLog[logItemKey].timestamp | date: 'dd/MM/yyyy'}}
                                </p>
                                <p
                                        _ngcontent-skr-c16=""
                                        class="description ng-star-inserted"
                                        data-test="text"
                                >
                                    {{ WsService.
                                        initResponse?.
                                        liveTree?.
                                        activityLog[logItemKey].
                                        localization?.ru?.
                                        eventTitle
                                    }}
                                    {{ WsService.initResponse?.liveTree?.activityLog[logItemKey].entityName }}

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div _ngcontent-skr-c13="" class="alerts-container">

                <div _ngcontent-skr-c13="" class="container-header">
                    <h2 _ngcontent-skr-c13="">
                        Alerts <span _ngcontent-skr-c13="" class="sub-header">Last 20 Alerts</span>
                    </h2>
                    <button _ngcontent-skr-c13="" class="small mat-raised-button mat-gradient"
                            data-test="homePageViewAllAlertsButton" mat-raised-button=""
                            matripple=""><span class="mat-button-wrapper"> View all Alerts </span>
                        <div class="mat-button-ripple mat-ripple" matripple=""></div>
                        <div class="mat-button-focus-overlay"></div>
                    </button>
                </div>

                <div  _ngcontent-skr-c13="" class="container-list list-items ng-star-inserted">

                    <div  *ngFor="let alertItemKey of WsService.alertsKeysAr"  _ngcontent-skr-c13="" class="ng-star-inserted">
                        <div _ngcontent-skr-c13="" _nghost-skr-c17="">
                            <div _ngcontent-skr-c17="" class="alertItem" data-test="alertItem"
                                 data-test-alert-isread="false" data-test-alert-id="1"
                            >
                                <button _ngcontent-skr-c17=""
                                        class="small read-button mat-raised-button mat-round ng-star-inserted"
                                        data-test="alertMarkAsReadButton" mat-raised-button=""
                                        matripple="" title="Mark as Read"><span
                                        class="mat-button-wrapper"><i _ngcontent-skr-c17=""
                                                                      class="material-icons">mail_outline</i></span>
                                    <div class="mat-button-ripple mat-ripple" matripple=""></div>
                                    <div class="mat-button-focus-overlay"></div>
                                </button>

                                <div _ngcontent-skr-c17="">
                                    <p _ngcontent-skr-c17="" class="time-stamp">
                                        {{ WsService.initResponse?.liveTree?.alerts[alertItemKey].timestamp | date: 'dd/MM/yyyy'}}
                                    </p>
                                    <p _ngcontent-skr-c17="">
                                        {{ WsService.initResponse?.liveTree?.alerts[alertItemKey].description }}
                                    </p>
                                </div>

                                <div _ngcontent-skr-c17="" class="alert-tags">
                                    <div _ngcontent-skr-c17="" class="alert-tag"><!----><!---->
                                        <!----></div><!----><!----><!----><!---->
                                    <button _ngcontent-skr-c17=""
                                            class="square mat-raised-button mat-secondary ng-star-inserted"
                                            data-test="deleteAlertButton" mat-raised-button=""
                                            matripple="" title="Delete Alert"><span
                                            class="mat-button-wrapper"><span _ngcontent-skr-c17=""
                                                                             class="material-icons">delete_outline</span></span>
                                        <div class="mat-button-ripple mat-ripple"
                                             matripple=""></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button>
                                </div>

                            </div>
                        </div>




                    </div>
                </div><!----></div>
        </div>
    </div>
</div>

